body {
    background-color:#E0E1DD
}

ul {

    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-top: 0;

}

.todo-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #c9cac6
               
}
.tri-split {
    width: 33%;
    float: left;
}

.todo-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
}
#full-list {
    background: #99D1D5;

}

#week-list {
    background: #d59d99;
}
#filter {

}
#filter-list {
    background: #d1d599;
}
li {
    margin: 0px;
}
.wrapper {
    overflow: hidden;
}
.weekday-elem {
    font-weight: bold;
    color: #a3706c;
    margin-left: 2%;
}
.todo-elem {
    margin-left: 5%;
    margin-right: 5%;
    font-family: monospace;
}

.subtext {
    margin-top: 4px;
    margin-left: 7%;
}
#filter-input {
    font-family: monospace;
    width: 100%;
}
#full-list > li:nth-child(even) {
    background-color: #89bcbf;
}
#week-list > li:nth-child(even) {
    background-color: #bf8d89;
}

#filter-list > li:nth-child(even) {
    background-color: #bcbf89;
}

#file-list > li:nth-child(even) {
    background-color: #c9cac6;
}

#filter-list > .exclude {
    display: none;
}

.file-input-div {
    width: 100%;
    margin-left: 1.6%;
    font-family: monospace;
}

#file-list {
    border: thin solid black;
    width: 29.7%;
    margin-left: 0;
}
#file-input {
    font-family: monospace;
    width: 29.7%;

}
.close-button {
    margin: 2%;
    display: inline;
    font-size: 0.8em;
}